@import 'tailwindcss';
@import 'tailwindcss-animated';

@theme {
    --color-*: initial;
    --color-primary: #fff;
    --color-primary-variant: #000;
    --color-secondary: #000;
    --color-secondary-variant: #fff;
    --color-tertiary: #eeeeee;
    --color-tertiary-variant: #000;
    --color-background: #fff;
    --color-surface: #fff;
    --color-error: #b00020;
    --color-on-primary: #000;
    --color-on-secondary: #fff;
    --color-on-tertiary: #000;
    --color-on-background: #000;
    --color-on-surface: #000;
    --color-on-error: #fff;
    --color-gray: #d1d5dc;
}

h1 {
    @apply text-4xl md:text-5xl font-bold;
}

h2 {
    @apply text-3xl md:text-4xl font-bold;
}

p {
    @apply text-base md:text-lg;
}
