@import 'tailwindcss';
@import 'tailwindcss-animated';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-*: initial;
    --color-primary: #fff;
    --color-primary-variant: #000;
    --color-secondary: #000;
    --color-secondary-variant: #fff;
    --color-tertiary: #eeeeee;
    --color-tertiary-variant: #000;
    --color-background: #fff;
    --color-surface: #fff;
    --color-error: #b00020;
    --color-on-primary: #000;
    --color-on-secondary: #fff;
    --color-on-tertiary: #000;
    --color-on-background: #000;
    --color-on-surface: #000;
    --color-on-error: #fff;
    --color-gray: #d1d5dc;
}

@theme {
    --animate-fade-in-down: fade-in-down 1s ease-in 1 forwards;
    @keyframes fade-in-down {
        0% {
            opacity: 0;
            transform: 'translate3d(0, -100%, 0)';
        }
        100% {
            opacity: 1;
            transform: 'translate3d(0, 0, 0)';
        }
    }

    --animate-fade-out-up: fade-out-up 1s ease-in-out 1 forwards;
    @keyframes fade-out-up {
        0% {
            transform: 'translate3d(0, 0, 0)';
        }
        100% {
            transform: 'translate3d(0, -100%, 0)';
        }
    }
}

@layer components {
    h1 {
        @apply text-4xl md:text-5xl font-bold;
    }

    h2 {
        @apply text-3xl md:text-4xl font-bold;
    }

    p {
        @apply text-base md:text-lg;
    }
    select,
    input {
        @apply appearance-none;
    }
    input[type='date']::-webkit-inner-spin-button,
    input[type='date']::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

@theme inline {
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--reka-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--reka-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}
