@import 'tailwindcss';
@import 'tailwindcss-animated';

@theme {
    --color-*: initial;
    --color-primary: #fff;
    --color-primary-variant: #000;
    --color-secondary: #000;
    --color-secondary-variant: #fff;
    --color-tertiary: #444444;
    --color-tertiary-variant: #000;
    --color-background: #fff;
    --color-surface: #fff;
    --color-error: #b00020;
    --color-on-primary: #000;
    --color-on-secondary: #fff;
    --color-on-background: #000;
    --color-on-surface: #000;
    --color-on-error: #fff;
    --color-gray: #d1d5dc;
}
